<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexService"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Duplex/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexService" contract="DuplexService.IDuplexService" name="WSDualHttpBinding_IDuplexService">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
