<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="UseAppConfig" value="false"/>
  </appSettings>
  <system.serviceModel>
    <!-- Define the service endpoints. -->
    <services>
      <service name="hbulens.Exam70487.Wcf.CustomerService" >
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/Customers/" />
            <add baseAddress="http://localhost:8080/Customers"/>
            <add baseAddress="https://localhost:8081/Customers"/>
            <add baseAddress="net.pipe://localhost/Customers"/>
          </baseAddresses>
        </host>
        <endpoint address="tcp"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding1"
                  contract="hbulens.Exam70487.Wcf.ICustomerService" />
        <endpoint address="namedpipe"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="netNamedPipeBinding1"
                  contract="hbulens.Exam70487.Wcf.ICustomerService" />
      </service>
    </services>

    <!-- Specify one or more of the system-provided binding elements,for example, <basicHttpBinding> -->
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding1">
          <security mode="Transport"></security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding1">
          <security mode="Transport"></security>
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <!-- One or more of the system-provided or custom behavior elements. -->
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <messageBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!--<serviceMetadata httpGetEnabled="true" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="messageBehavior" type="hbulens.Exam70487.Wcf.Inspectors.MessageVerificationConfigurationSection, hbulens.Exam70487.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
