<div class="row">
    <div class="col-lg-12">
        <h2>Information <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h2>
        <p>
            Go to the chosen instance of the IVideoStream interface in the common project and set a breakpoint in the loop of the WriteToStream method.
            Did you notice the video freezes until you hit F5 again?
        </p>
        <p>
            You can run configure this sample in the Web Api by choosing where to download the file from: locally or Azure Blob. To do that, you'll need to run the Blob sample project.
        </p>
    </div>
</div>
<div class="row embed-responsive embed-responsive-16by9">
    <video width="1200" height="800" controls="controls" autoplay="autoplay">
        <source src="http://localhost:8080/api/Videos/Get?filename=polina&ext=webm" type="video/webm">
    </video>
</div>

