<form id="modalform" style="display:none">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" name="FirstName" class="form-control" placeholder="John">
    </div> 
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text"  name="LastName" class="form-control" placeholder="Doe">
    </div>       
</form>

<div class="row">
    <div class="col-lg-8">
        <h2>Information <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h2>
        <p>This page shows how jQuery AJAX operation to the Web API renders a list dynamically using AngularJS.</p>
    </div>
    <div class="col-lg-4">
        <h2>Create <span class="glyphicon glyphicon-plus" id="btnCreate" aria-hidden="true"></span></h2>
        <p>Create new customer by clicking on the massive + icon. No validation is done on the client side, so try playing around with the database validation (FirstName &Aacute; LastName are required properties)</p>
    </div>
</div>

<div class="container" ng-app="customersApp">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div ng-controller="CustomerController">
        <div id="products" class="row list-group">
            <div class="item col-xs-4 col-lg-4" ng-repeat="customer in customers">
                <div class="thumbnail">
                    <img class="group list-group-image" src="https://placeimg.com/400/250/any" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{ customer.LastName }}
                        </h4>
                        <p class="group inner list-group-item-text">
                            {{ customer.FirstName }}
                        </p>
                        <div class="row">
                           
                            <div class="col-xs-12 col-lg-12">
                                <a class="btn btn-success" href="#">View Details</a>
                                <a class="btn btn-success" href="#">Update</a>
                                <a class="btn btn-success" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section content {
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
}
@section scripts {
    <script src="~/lib/angular/angular.js" type="text/javascript"></script>
    <link href="~/css/grid-list.css" rel="stylesheet" />
    <script src="~/lib/grid-list/src/gridList.js"></script>
    <script src="~/lib/grid-list/src/jquery.gridList.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        var customersApp = angular.module('customersApp', []);
        customersApp.controller('CustomerController', ['$scope', function ($scope) {
            // Call Customer web api and accept xml
            $.ajax({
                type: "GET",
                accepts: { "*": "application/json" },
                url: 'http://localhost:8080/api/Customers/Get',
                headers: {
                },
                success: function (response) {
                    $scope.customers = response;
                    $scope.$apply();

                    $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
                    $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
                }
            });
        }]);

        // Call Customer web api and accept json explicitly
        $.ajax({
            type: "GET",
            accepts: { "*": "application/xml" },
            url: 'http://localhost:8080/api/Customers/Get',
            headers: {
            },
            success: function (response) {
            }
        });

        // Call Customer web api and accept json using getJSON method
        $.getJSON({
            url: 'http://localhost:8080/api/Customers/Get',
            success: function (response) {
            }
        });

        // Call Customer web api and accept custom format
        $.ajax({
            type: "GET",
            accepts: { "*": "text/csv" },
            url: 'http://localhost:8080/api/Customers/Get',
            headers: {
            },
            success: function (response) {
            }
        });

        $('#btnCreate').click(function () {
            $("#modalform").dialog({
                title:'Create customer',
                height: 400,
                width: 450,
                modal: true,
                buttons: {
                    "Cancel": function () {
                        $(this).dialog("close");
                    },
                    "Save": function () {
                        $.ajax({
                            type: "POST",
                            accepts: { "*": "application/json" },
                            url: 'http://localhost:8080/api/Customers/Post',
                            timeout: 30000,
                            type: "POST",
                            data: $('#modalform').serialize(),
                            dataType: 'json',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("An error has occurred making the request: " + errorThrown)
                            },
                            success: function (data) {
                                //Do stuff here on success such as modal info
                                $(this).dialog("close");
                            }
                        })
                    }
                }
            });

        });
    </script>
}
