<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>This is a sample web application that shows some of the features and concepts covered in the 70-487 exam.</p>
            <p>For more information, see <a href="https://hendrikbulens.wordpress.com/2016/06/04/preparation-guide-for-exam-70-487-developing-microsoft-azure-and-web-services/" target="_blank"> this series of blog posts.</a> </p>
            <p>
                <a class="btn btn-default btn-lg" asp-controller="Customers" asp-action="Index">Go check it out &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Sample Company</strong>
                <br>742 Evergreen Terrace
                <br>Springfield, USA
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(123) 456-7890
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
            </address>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-barcode fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>Web API</h2>
            <p>Find all about the Web API in the Customers page.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-asterisk fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>Entity Framework</h2>
            <p>
                Is used in the entire application:
            </p>
            <ul>
                <li>See the Repositories assembly for the generic implementation.</li>
                <li>See the Core assembly for the actual usage of the repository and the DbContext</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-th-large fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>ADO.NET</h2>
            <p>Is used in some parts of this application:</p>
            <ul>
                <li>See the Repositories assembly for the generic implementation.</li>
                <li>See the Core assembly for the actual usage of the repository and ADO.NET</li>
            </ul>
        </div>
    </div>
</div>
