<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Introduction</h2>
            <p>This is a sample web application that shows some of the features and concepts covered in the 70-487 exam.</p>
            <p>For more information, see <a href="https://hendrikbulens.wordpress.com/2016/06/04/preparation-guide-for-exam-70-487-developing-microsoft-azure-and-web-services/" target="_blank"> this series of blog posts.</a> </p>
            
            <ul>
                <li><a href="https://hendrikbulens.wordpress.com/2016/06/04/exam-70-487-preparation-part-i-accessing-data/" target="_blank">Part I: Accessing Data</a></li>
                <li><a href="https://hendrikbulens.wordpress.com/2016/06/04/exam-70-487-preparation-part-ii-entity-framework/" target="_blank">Part II: Entity Framework</a></li>
                <li><a href="https://hendrikbulens.wordpress.com/2016/06/04/exam-70-487-preparation-part-iii-wcf-services/" target="_blank">Part III: WCF Services</a></li>
                <li><a href="https://hendrikbulens.wordpress.com/2016/06/04/exam-70-487-preparation-part-iv-web-api/" target="_blank">Part IV: Web API</a></li>
                <li><a href="https://hendrikbulens.wordpress.com/2016/06/04/exam-70-487-preparation-part-v-deployment/" target="_blank">Part V: Deployment</a></li>
            </ul>
        </div>       
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-barcode fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>Web API</h2>
            <p>Find all about the Web API in the Customers and Order page. You need to run the WebApi self-hosted console application to connect to the Web API.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-asterisk fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>Entity Framework</h2>
            <p>
                Is used in the entire application:
            </p>
            <ul>
                <li>See the Repositories assembly for the generic implementation.</li>
                <li>See the Core assembly for the actual usage of the repository and the DbContext</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-th-large fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>ADO.NET</h2>
            <p>Is used in some parts of this application:</p>
            <ul>
                <li>See the Repositories assembly for the generic implementation.</li>
                <li>See the Core assembly for the actual usage of the repository and ADO.NET</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-fire fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>WCF</h2>
            <p>Find all about WCF in the WCF folder. It contains a self-hosted console application and a client application connecting to this host.</p>
        </div> 
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tree-conifer fa-3x" aria-hidden="true" style="font-size: 50px"></span>
            <h2>Deployment</h2>
            <p>Find all about deployment in the numerous projects and throughout the VS solution.</p>
        </div>       
    </div>
</div>
