<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ICustomerService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICustomerService" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICustomerService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8001/Customers/tcp" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICustomerService" contract="CustomerService.ICustomerService"
        name="NetTcpBinding_ICustomerService">
        <identity>
          <userPrincipalName value="HENDRIK\hendr" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/Customers/namedpipe"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ICustomerService"
        contract="CustomerService.ICustomerService" name="NetNamedPipeBinding_ICustomerService">
        <identity>
          <userPrincipalName value="HENDRIK\hendr" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/Customers/ws" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICustomerService" contract="CustomerService.ICustomerService"
        name="WSHttpBinding_ICustomerService">
        <identity>
          <userPrincipalName value="HENDRIK\hendr" />
        </identity>
      </endpoint>
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="messageBehavior" type="hbulens.Exam70487.Wcf.Client.Inspectors.MessageVerificationConfigurationSection, hbulens.Exam70487.Wcf.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <messageBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
