<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Customers" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICustomerService" contract="CustomerService.ICustomerService"
          name="BasicHttpBinding_ICustomerService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="messageBehavior" type="hbulens.Exam70487.Wcf.Client.Inspectors.MessageVerificationConfigurationSection, hbulens.Exam70487.Wcf.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <messageBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
